section#accordion {
  /* Acordeon styles */
  /* Icon */ }
  section#accordion .tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #fff;
    overflow: hidden; }
    section#accordion .tab .tab-content {
      max-height: 0;
      overflow: hidden;
      background: #1abc9c;
      -webkit-transition: max-height .35s;
      -o-transition: max-height .35s;
      transition: max-height .35s; }
      section#accordion .tab .tab-content p {
        margin: 1em; }
  section#accordion input {
    position: absolute;
    opacity: 0;
    z-index: -1; }
  section#accordion label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #16a085;
    font-weight: bold;
    line-height: 3;
    cursor: pointer; }
  section#accordion .tab-content
input:checked ~ .tab-content {
    max-height: 10em; }
  section#accordion label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s; }
  section#accordion input[type=checkbox] + label::after {
    content: "+"; }
  section#accordion input[type=radio] + label::after {
    content: "\25BC"; }
  section#accordion input[type=checkbox]:checked + label::after {
    -webkit-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    transform: rotate(315deg); }
  section#accordion input[type=radio]:checked + label::after {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg); }
