// Media Queries
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Note: The best way to structure the use of media queries is to create the queries
// near the relevant code. For example, if you wanted to change the styles for buttons
// on small devices, paste the mobile query code up in the buttons section and style it
// there.

// Larger than mobile
@media (#{$bp-larger-than-mobile}) {}

// Larger than phablet (also point when grid becomes active)
@media (#{$bp-larger-than-phablet}) {}

// Larger than tablet
@media (#{$bp-larger-than-tablet}) {

}

// Larger than desktop
@media (#{$bp-larger-than-desktop}) {
    div#navmobi{
        display: none;
    }
        
    header{
        height: 150px;
        
        h1#title{
            left: -7em;
            width: auto;
       
            &::after{
                width: 270px!important;
                top: 5em;
                margin-left: 5em;
            }
            
            a#logoarea{
                width: 270px!important;
                top: 5em;
                margin-left: 5em;
                height: 80px;
            }
        }

        nav{
            figure.burger{display: none!important;}
            ul.nav-desktop{display: block!important; z-index: 999;}
        }
    }
    
    /* PARTIALS */
    @import "../parts/gals_d";
    @import "../parts/bio_d";
    @import "../parts/discs_d";
}

// Larger than Desktop HD
@media (#{$bp-larger-than-desktophd}) {}
